@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor-primary: #0A3871;
    --cor-secondary: #D8DFE8;
    --cor-tertiary: #F3F5FC;
    --cor-quaternary: #495057;
    --font-primary: "Inter", sans-serif;
}

body, html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.12rem;
}

.section-first {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%; /* Altura da logo */
    gap: 1rem;

}

#logo {
    overflow-clip-margin: content-box;
    overflow: clip;
}

textarea {
    color: var(--cor-primary);
    font-weight: 300;
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--cor-tertiary);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea::placeholder {
    color: var(--cor-primary);
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 2rem;
}

.section-first-textarea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-first-info {
    display: flex;
    justify-content: center;
    gap: 0.65rem;
    color: var(--cor-quaternary);
}

.section-first-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 0.65rem;
}

#criptografar {
    margin-right: 1.56rem;
    width: 20.5rem;
    height: 4.18rem;
    color: var(--cor-tertiary);
    background-color: var(--cor-primary);
    border-radius: 1.5rem;
    border-color: var(--cor-primary);
}

#descriptografar {
    width: 20.5rem;
    height: 4.18rem;
    color: var(--cor-primary);
    background-color: var(--cor-tertiary);
    border-radius: 1.5rem;
    border-color: var(--cor-primary);
}

.section-second {
    width: 21.8rem;
    height: 90%;
    text-align: center;
    border-radius: 0.62rem;
    background: #fff;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.05);
}

.section-second-div-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
}

.section-second-div-text p strong {
    margin-top: 15.6rem;
    color: var(--cor-quaternary);
    font-family: var(--font-primary);
    font-weight: 500;
}

.section-second-div-text p {
    color: var(--cor-quaternary);
    font-family: var(--font-primary);
    font-weight: 400;
}

.section-second-div-button {
    padding: 1.25rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#section-second-text-paragraph {
    width: 100%;
    text-align: center;
    color: var(--cor-quaternary);
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}

#section-second-button-copy {
    display: none;
    width: 20.5rem;
    height: 4.18rem;
    color: var(--cor-primary);
    background-color: var(--cor-tertiary);
    border-radius: 1.5rem;
    border-color: var(--cor-primary);
    padding: 0.87rem;
    text-align: center;
    font-weight: 400;
    gap: 0.5rem;
}

@media (max-width: 1200px) {
    body {
        height: 100vh;
        flex-direction: column;
        gap: 5rem;
    }

    textarea {
        text-align: center;
        justify-content: center;
    }

    .section-first {
        width: auto;
        height: 50%; /* Altura da logo */
    }

    .section-first-info {
        display: flex;
        justify-content: flex-start;
        gap: 0.65rem;
        color: var(--cor-quaternary);
    }

    .section-first-button {
        gap: 1.5rem;
    }

    .section-second {
        min-width: 80vh;
        height: 12.5rem;
        padding: 0 0;
        border-radius: 2rem;
    }

    #pesquisa {
        display: none;
    }

    #section-second-button-copy {
        min-width: 70vh;
        padding: 1rem;
    }

}

@media (max-width: 918px) {
    textarea {
        text-align: center;
        justify-content: center;
    }

    .section-second {
        min-width: 50vh;
    }

    .section-first-info {
        align-items: center;
        justify-content: center;
    }

    .section-first-button {
        flex-direction: column;
        gap: 1.25rem;
        padding-bottom: 0.65rem;
    }

    .section-second-div-text {
        padding: 2rem;
        text-align: center;
    }

    #section-second-button-copy {
        min-width: 40vh;
        padding: 1rem;
    }
}

@media (max-width: 600px) {

    textarea {
        text-align: center;
        justify-content: center;
    }

    textarea::placeholder {
       text-align: center;
    }

    .section-second {
        min-width: 35vh;
    }

    .section-first-info {
        align-items: center;
        justify-content: center;
    }

    .section-second-div-text {
        padding: 2rem;
        text-align: center;
    }

    #section-second-button-copy {
        min-width: 10vh;
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    #criptografar {
        margin-right: 1.56rem;
        width: 100%;
    }

    #descriptografar {
        width: 100%;
    }
}